<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>imobiliaria</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  
   <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
</head>
<body>
	<header>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		  <h5 class="my-0 mr-md-auto font-weight-normal">Imobiliaria</h5>
		  <nav class="my-2 my-md-0 mr-md-3">
			<a class="p-2 text-dark" href="/">imoveis</a>
			<a class="p-2 text-dark" href="/inquilino">inquilino</a>
			<a class="p-2 text-dark" href="corretor">corretor</a>
			<!--  -->
			<!--a class="p-2 text-dark" href="logout">sair</a-->
			<!--  -->
		  </nav>
		  <!--a class="btn btn-outline-primary" href="#">Sign up</a-->
		</div>
	</header>

   <main>
     <!--div class="container"-->
      <%- body %>
     <!--/div-->
   </main>

</body>
</html>  
