<div class="text-center">
    <form class="form-signin" action="/login" method="POST">
  <h4 class="h3 mb-3 font-weight-normal">entrar</h4>
  <label for="username" class="sr-only">nome de usuario</label>
  <input type="text" id="username" name="username" class="form-control" placeholder="nome de usuario" required autofocus>
  <label for="password" class="sr-only">senha</label>
  <input type="password" id="password" name="password" class="form-control" placeholder="senha" required>
  <!--div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div-->
  <br><button class="btn btn-lg btn-primary btn-block" type="submit">entrar</button>
</form>
	<p>
		<a href="/register">ou registrar</a>
	</p>
</div>
