<div class="text-center">
    <form class="form-signin" action="/register" method="POST">
  <h4 class="h3 mb-3 font-weight-normal">registrar usuario</h4>
  <label for="username" class="sr-only">nome de usuario</label>
  <input type="text" id="username" name="username" class="form-control" placeholder="nome de usuario" required autofocus>
  <label for="password" class="sr-only">senha</label>
  <input type="password" id="password" name="password" class="form-control" placeholder="senha" required>
  <label for="telephone" class="sr-only">telefone</label>
  <input type="text" id="telephone" name="telephone" class="form-control" placeholder="telefone" required>
  <br><button class="btn btn-lg btn-primary btn-block" type="submit">registrar</button>
</form>

</div>
